<h1>*ngswitch</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">Soy Nicolas</p>
  <p *ngSwitchCase="'julian'">Soy Julian</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<h1>*ngFor Objectos</h1>
<div>
  <div *ngFor="let producto of products">
    <img [src]="producto.image" alt="image">
    <h2>{{producto.price}}</h2>
    <h2>{{producto.name}}</h2>
  </div>
</div>
<h1>*ngFor</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
  <p *ngIf="names.length === 0">No hay nombres en la lista</p>
  <li *ngFor="let name of names; index as i">{{i+1}} {{name}} <button (click)="deleteName(i)">Eliminar</button></li>
</ul>
<h1>*ngIf</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p *ngIf="person.name == 'Daniel'">Soy Daniel</p>
<p *ngIf="person.name == 'Julian' && person.age === 18; else myblock">Soy Julian</p>
<ng-template #myblock>
<p>Block de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>"Nombre: " + {{person.name}} </p>
<p>Valido: {{nameInput.valid}}</p>
<input type="number"  max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>"Edad: " + {{person.age}} </p>
<p>Valido: {{ageInput.valid}}</p>

<h1>Eventos</h1>
<button (click)="toggleButton()">Toggle Button</button>
<button disabled="disabled" [disabled]="buttonDesabled">Enviar</button>
<p>Edad: {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onscroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vel corrupti architecto culpa deserunt eius cumque? Illo cum ipsa exercitationem accusamus animi, harum distinctio quibusdam officiis! Praesentium sapiente molestiae debitis.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>
<p>"Nombre " + {{person.name}} </p>

<h1>Propiedades</h1>
<button disabled="disabled" [disabled]="buttonDesabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress [max]="100" [value]="person.age"></progress>
<img [src]="person.img" alt="Imagen" [height]="50" [width]="100" />
<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>{{ "Hola soy " + name + " y tengo " + age + "años" }}</h3>
<img src="{{ img }}" alt="Imagen" [height]="500" [width]="1000" />
